
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --background: #F6F5F0;
    --text: #333333;
    --size-title: 10vw;
}

@font-face {
    font-family: Yaldevi;
    src: url('./fonts/Yaldevi-Regular.ttf');
}

@font-face {
    font-family: Bitcount;
    src: url('./fonts/Bitcount-regular.ttf');
}


@font-face {
    font-family: Khula;
    src: url('./fonts/Khula-Light.ttf');
}


body{
    font-family: Yaldevi;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
}


.canvas{
    width: 1080px;
    height: 1080px;
    border: 1px solid black;
    position: relative;
}
